opencv-python
numpy==1.23.5
pillow
flask
pytesseract
invisible-watermark==0.2.0
imhist==0.0.4
pymupdf
#tensorflow==2.15.0
#keras
python-docx
sentence-transformers
nltk
matplotlib
piexif
gunicorn
ultralytics